<div class="container">
  <h2>Log in</h2>

  <div class="offset-md-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group row">
      <div class="col-2 text-left mb-auto"><%= f.label "Email" %></div>
      <div class="col-9 text-left ml-auto">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    </br>
    <div class="form-group row">
      <div class="col-2 text-left mb-auto"><%= f.label "password" %></div>
      <div class="col-9 text-left ml-auto">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
    </br>

    <div class="actions">
      <%= f.submit "Log in", class:"btn btn-info offset-md-3" %>
    </div>
  <% end %>
</div>
<p>登録がお済でない方</p>
　　<%= render "user/shared/links" %>から新規登録を行ってください。
</div>
