<div class="container">
  <h2>投稿編集</h2>
  <%= form_with model: @post_image, url: post_image_path, method: :patch do |f| %>
  <div class="row">
    <div class="post_image">
      <%= f.label :image do %>
        <%= image_tag @post_image.image, class: 'avatar' %>
        <%= f.file_field :image, class: 'uploader', style: 'display:none', accept: "image/*" %>
      <% end %>
    </div>
    <div class="offset-md-1">
      <h4 class="border-bottom"><%= f.label "title" %></h4>
        <%= f.text_field :title %>
      <br>
      <br>
      <h4 class="border-bottom"><%= f.label "introduction" %></h4>
        <p><%= f.text_field :introduction %></p>
      <br>
      <div>
        <%= f.submit '完了', class:"btn btn-success" %>
      </div>
    </div>
  </div>
  <% end %>
</div>