<div class="container">
  <h3>いいね一覧</h3>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <% @favorite_posts.each do |favo_image| %>
      <%= link_to post_image_path(favo_image.id ) do %>
        <%= image_tag favo_image.image, class:"card-img-top"; %>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <%= link_to users_my_page_path(favo_image.user.id) do %>
              <% if favo_image.user.profile_image.attached? %>
                <%= image_tag favo_image.user.profile_image, size: "75x75", class:"mt-3 rounded-circle"; %>
              <% else %>
                <%=  image_tag 'no_image', size: "75x75", class:"mt-3 rounded-circle"; %>
              <% end %>
            <% end %>
          </div>
          <div class="col-10">
            <p class="card-title">
              <%= link_to(post_image_path(favo_image.id), class:"text-dark") do %>
                <strong><i class="far fa-flag"></i><span> <%= favo_image.title %></span></strong>
              <% end %>
            </p>
            <p class="card-text">説明：<%= favo_image.introduction %></p>
            <span><i class="fas fa-user"></i> By <%= favo_image.user.name %> ｜ </span>
            <span><%= link_to "#{favo_image.post_comments.count} コメント", post_image_path(favo_image.id), class:"text-dark" %></span>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>