<div class="container">
  <h2>投稿詳細</h2>
  <div class="row">
    <div class="post_image">
      <%= image_tag @post_image.image %>
    </div>
    <div class="offset-md-1">
      <h4 class="border-bottom">title</h4>
        <p><%= @post_image.title %></p>
      <br>
      <br>
      <h4 class="border-bottom">introduction</h4>
        <p><%= @post_image.introduction %></p>
      <br>
      <% @post_image.tags.each do |tag| %>
          <%= link_to tag.name, post_images_path(search: tag.name) %>
      <% end %>
      </br>
        <%= link_to '削除する', post_image_path(@post_image), method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-danger" %>
    </div>
  </div>
  <p>投稿日:<%= @post_image.created_at.strftime('%Y/%m/%d')%></p>

  <% if admin_signed_in? %>
      <p>コメント件数: <%= @post_image.post_comments.count %></p>
      <% @post_image.post_comments.each do |post_comment| %>
        <p><%= image_tag post_comment.user.profile_image, size:"75x75" %></p>
        <%= post_comment.user.name%>
        <%= post_comment.created_at.strftime('%Y%m%d') %><%= post_comment.comment %>
          <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>